<section class="m-about">
  <h2 class="m-about__title">what is BLHACKATHON?</h2>

  <div class="m-about__desc">
  <p class="m-about__desc_paragraph">blhackathon™ is a community-building opportunity for PoC in tech (web devs, designers, etc…), and in creative fields (writers, poets, dancers, etc…) to come together and collaborate on projects for a weekend.
  </p>
  <p class="m-about__desc_paragraph"> this edition will focus on helping, and empowering PoC in creative fields. the projects will strive to impact the creative community, and/or benefit the PoC community as a whole.
  </p>
  </div>
</section>
