<section class="m-section__landing_page">
  <%= link_to new_member_path do %>
    <input type="submit" class="btn btn-main" value="Join">
  <% end %>
  <%= link_to members_path do %>
    <input type="submit" class="btn btn-main" value="Commnunity" >
  <% end %>
</section>