$l: ".l-nav";

#{$l} {
  position: fixed;
  top: 0;right: 0;left:0;
  border-width: 0 0 1px;
  border-color: #e7e7e7;
  background: #f8f8f8;
  width: 100%;
  font-size: 14px;
  @include clearfix;
  #{$l}__title {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #777;
    margin-left: 15px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    span {
      color:#f00;
    }
  }
}