$m: ".m-about";

#{$m}__title {
  margin-left: 200px;
  padding: 15px 20px;
  font-weight: 400;
}

#{$m}__desc {
  padding: 15px 0;
  margin-left: 200px;
  display: flex;
  justify-content: flex-start;
}

#{$m}__desc_paragraph {
  font-size: 22px;
  font-weight: 200;
  width: 42%;
  display: inline-block;
  line-height: 1.5;
  padding: 10px;
  margin-left: 10px;
}