body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  &:hover {
    color: #efefef;
  }
}

footer {
  margin-top: 100px;
  text-align: center;
}
