<section class="m-section__about">
  <a name="about"></a>
  <div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">What is BLHACKATHON?</h2>
      </div>
      <div class="col-lg-5 col-sm-6">

        <p class="lead">
          blhackathon™ is a community oriented event for PoC in tech (web devs, designers, etc…), and in creative fields (writers, poets, dancers, etc…). we will come together and collaborate on projects for a weekend.

        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-sm-6">
        <p class="lead">this edition will focus on helping, and empowering PoC in creative fields: the projects built that weekend will strive to impact and benefit the creative, and PoC communities.</p>
      </div>
    </div>

  </div>
  <!-- /.container -->
  </div>
  <!-- /.content-section-a -->

  <div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-0 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer-alt">
        <div class="clearfix"></div>
        <h2 class="section-heading">Programming with Purpose</h2>
        <p class="lead">Creative blacks in tech should come together more often.</p>
        <p> There should be a place for us to feel free to nerd out, geek out, be wonderfully weird and excited about building stuff. A space free of judgment, and full of creativity, pedagogy, and collaboration. Egos should be left outside, and positivity should take over.
          Blhackathon wants to provide that environment.</p><p> It’ll be the chance to be ourselves, and get to know one another while collaborating on interesting projects. Let’s build a community.
        </p>
        <br>
        <a style="color:#f00;" href="#form" class="btn btn-block btn-default btn-sm"><i class="fa  fa-fw"></i> <span class="network-name"><b>submit an idea</b></span></a><br><br>
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="assets/bgc.jpg" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->
  </div>
  <!-- /.content-section-b -->
</section>