<section class="m-section__about_part1">
  <section class="m-section__underlay"></section>
  <div class="intro-header">
    <div class="container">
      <div class="row" style="padding-bottom:0;">
        <div class="intro-message">
          <h1>building a community</h1>
          <hr class="section-heading-spacer-alt">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-push-2 col-sm-8">
          <p class="lead">
            Blhackathon wants to provide you with a community where you can feel free to nerd out, geek out, be wonderfully weird and excited about building stuff.
            A space free of judgment, and full of creativity, pedagogy, and collaboration.
            A place where egos are left outside, and positivity takes over.
            It is an opportunity to be yourself, and get to know like-minded individuals while collaborating on interesting projects.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="m-section__small_more">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="intro-message">
          <h1>Merging the Creative and Tech Communities</h1>
          <hr class="section-heading-spacer-alt">
        </div>
        <div class="col-lg-8 col-sm-push-2 col-sm-8">
          <div class="clearfix"></div>
          <p>Creative and tech industries are strikingly similar: working in both fields require ingenuity, patience, and an appreciation for beauty, whether it is in the code or the painting. Yet, the two worlds don't get to join forces that often.
          <br> blhackathon wants to bridge that gap, and provide opportunities for people of color in those industries to come together, and shine. </p>
        </div>
      </div>
    </div>
  </div>
</div>