<section class="m-section__about_part1">
  <section class="m-section__underlay"></section>
  <div class="intro-header">
    <div class="container">
      <div class="row" style="padding-bottom:0;">
        <div class="intro-message">
          <h1>we are blhackathon</h1>
          <hr class="section-heading-spacer-alt">
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-push-2 col-sm-8">
          <p class="lead">
            Blhackathon wants to provide you with a community where you can feel free to nerd out, geek out, be wonderfully weird and excited about building stuff.
            A space free of judgment, and full of creativity, pedagogy, and collaboration.
            A place where egos are left outside, and positivity takes over.
            It is an opportunity to be yourself, and get to know like-minded individuals while collaborating on interesting projects.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
