<!-- Footer -->
<footer class="l-footer">
  <div class="container">
    <div class="col-lg-12">
      <ul>
        <li class="copyright text-muted small"> <a> Team </a> </li>
        <span class="copyright text-muted small">|</span>
        <li class="copyright text-muted small"> <a> FAQ </a> </li>
        <span class="copyright text-muted small">|</span>
        <li class="copyright text-muted small"> <a> Contact Us </a> </li>
      </ul>
    </div>
    <div class="col-lg-12">
      <p class="copyright text-muted small">Copyright &copy; Blhackathon 2016. All Rights Reserved</p>
    </div>
  </div>
</footer>